<h2><%=l(:label_req)%></h2>

<%= content_tag('p', l(:label_no_data), :class => 'nodata') if @requirements.empty? %>

<% if not @requirements.empty? %>
<table class="list">
  <thead>
  <tr>
    <th><%=l(:label_req_code)%></th>
    <th><%=l(:label_req_text)%></th>
    <th><%=l(:label_req_issues)%></th>
    <th><%=l(:label_req_status)%></th>
  </tr>
  </thead>
  <tbody>
<% @requirements.each do |req| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td width="100px" align="left"><%= link_to "#{req.req_id}", :action => 'show', :id => req.id, :project_id => @project.id %></td>
    <td align="left">
     <%= link_to( req.text.truncate(100), req.url ) %>
    </td>
    <td align="left">
        <% req.linked_issues.each do |link| %>
        <%= link_to( "\##{link[:issue].id}", issue_path(link[:issue]) ) %>
        <% end %>
    </td>
    <td width="240px">
            <% pdata = req.issue_progress %>
            <% count_closed = pdata[:closed] %>
            <% count_total = pdata[:total] %>
            <%= progress_bar( pdata[:percent],
                  :legend => "#{count_closed}/#{count_total}",
                  :width => "200px;") %>
    </td>
  </tr>
  </tbody>
<% end %>
</table>
<% end %>

<% content_for :sidebar do %>
<%= form_tag({}, :method => :get) do %>

<h3><%= l(:label_req_reports) %></h3>
<ul>
  <li>
    <%= link_to l("label_req_reports_trace"), :action => 'trace', :project_id => @project, :id => "1" %>
  </li>
</ul>

<h3><%= l(:label_req_pages) %></h3>
<ul>
  <% if @linked_pages.empty? %>
   <li>
    <%= link_to l("label_req_pages_open_root"), :controller => 'wiki', :action => 'show', :project_id => @project, :id => l("wiki_req_name") %>
   </li>
  <% else %>
   <% @linked_pages.each do |l| %>
    <li>
    <%= link_to(l[:name],l[:url]) %>
    </li>
   <% end %>
  <% end %>
</ul>
<%= hidden_field_tag('user_id', params[:user_id]) unless params[:user_id].blank? %>
<% end %>

<% end %>
