<h2><%=l(:label_req_table_trace)%></h2>

<%= content_tag('p', l(:label_no_data), :class => 'nodata') if @requirements.empty? %>

<% if not @requirements.empty? %>
 <table class="list">
  <thead>
  <tr>
    <th></th>
    <% Issue.all.each do |issue| %>
    <th width="20px"><%= link_to( "\##{issue.id}", issue_path(issue)) %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
   <% @requirements.each do |req| %>
    <tr class="<%= cycle("odd", "even") %>">
     <td><%= link_to( "#{req.req_id} - #{req.text.truncate(100)}", req.url ) %></td>
     <% Issue.all.each do |issue| %>
      <% if req.linked_with_issue?(issue) %>
      <td bgcolor="#B3EDB3"></td>
      <% else %>
      <td/>
      <% end %>
     <% end %>
    </tr>
   <% end %>
  </tbody>
 </table>
<% end %>
